@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-subdued;
  }
}

/* @layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
} */

#header-system-root {
  -webkit-app-region: drag; /* Permite arrastar a janela */
  -webkit-user-select: none; /* Evita seleção de texto */
  background-color: #333;
}

#header-system-root button {
  display: flex;
  gap: 10px;
}

#header-system-root button {
  -webkit-app-region: no-drag; /* Permite interações com os botões */
}

#header-system-root button:hover {
  opacity: 0.8;
}

#header-system-root button:active {
  opacity: 0.6;
}
